html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

tr > th {
    font-size: 12px;
    background: white !important;
}

tr > th > a {
    color: rgb(33, 37, 41);
}

tr#w0-filters > td > a {
    padding: 4px;
    color: red;
    background: green !important;
}

tr#w0-filters > td {
    padding: 4px;
    background: white;
}

tr#w0-filters > td > select, tr#w0-filters > td > input {
    background: white;
    height: 30px;
    font-size: 10px !important;
    align-items: center;
}

#w1-filters > td > select, #w1-filters > td > input, #w1-filters > td > div > * {
    font-size: 10px !important;
    height: 28px;
    align-items: center;
}

tr.received-table-row > td {
    font-size: 12px;
}

.table td, .table th {
    padding: .30rem !important;
}

a.btn.btn-sm {
    font-size: 10px !important;
    padding: 2px 5px;
}

td > label {
    display: block !important;
}

thead > tr > th.list-cell__button {
    border: none;
    vertical-align: inherit;
}

.heyy {
    width: 10%;
!important;
}

.select2-container--krajee .select2-selection {
    font-family: Roboto, sans-serif !important;
    font-size: 12px !important;
    line-height: 20px;
}

.select2-container--krajee .select2-results__option {
    font-family: Roboto, sans-serif !important;
    font-size: 12px;
}

.add-close-button {
    height: 30px;
    align-items: center;
    margin-top: 3px !important;
}

.save-button, .save-button > .btn {
    align-items: center;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.save-button > .btn {
    margin: 10px;
    align-items: center;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    width: 95%;
}

ul.pagination {
    font-size: 12px;
}

.input-items {
    line-height: 20px;
    font-size: 12px;
    height: 34px;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding-left: 15px;
}

.control-label {
    font-size: 12px;
    font-weight: bold;
}

tr, td.w0 {
    vertical-align: inherit !important;
}

td.w0 {
    font-size: 12px;
}

.no-print {
    display: none !important;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.checkbox-column {
    padding: 0 0 0 10px!important;
}

.checkbox-column-list {
    border: 1px solid #e5e3e3;
    margin: 2px;
    padding: 0 0 10px 10px!important;
}

.checkbox-column-list-header {
    padding: 10px;
}
.reset-password{
    cursor: pointer;
}